* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(46, 41, 41);
}

.container {
  width: 500px;
  text-align: center;
  margin: 100px auto;
  line-height: 1.5;
}

h1 {
  font-size: 3.5rem;
}

input {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

button {
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  border: 0;
  color: white;
  background-color: rgb(9, 156, 9);
  margin-top: 20px;
}

.playerOne {
  display: none;
}
.playerTwo {
  display: none;
}
